---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Career Objective</div>
  </div>

  <div class="mb-10 text-justify">
    To get an opportunity where I can make the best use of my potential, creativity and explore enormous number of things and contribute to the organization’s growth.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Technology (Information Technology)"
      subtitle="2021 to 2025 at Acropolis Institute of Technology and Research, Indore, India"
    />
    <TimeLineElement
      title="Higher Secondary (12th MP Board)"
      subtitle="2021 at M.P. Public Higher Secondary School, Mandsaur, India"
    />
    <TimeLineElement
      title="Senior Secondary (10th MP Board):"
      subtitle="2018 at M.P. Public Higher Secondary School, Mandsaur, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Co-Lead at GDSC AITR"
      subtitle="[Aug 2023 – Present at Google Developer Student Club]"
    >
      .
    </TimeLineElement>
    <TimeLineElement
      title="Graphic Designer at GDSC AITR"
      subtitle="[AUG 2022 – AUG 2023] at Google Developer Student Club"
    >
      .
    </TimeLineElement>
    <TimeLineElement
      title="Video Editor at GDSC WOW 2023"
      subtitle="[JAN 2023 - APRIL 2023] at Google Developer Student Club"
    >
      .
    </TimeLineElement>
    <TimeLineElement
      title="Video Editor at SFSG AITR"
      subtitle="[AUG 2022 - JULY 2023] at Salesforce Student Club"
    >
      .
    </TimeLineElement>
    <TimeLineElement
      title="Video Editor at Acropolis Blockchain Club"
      subtitle="[FEB 2023 - AUG 2023] at Salesforce Student Club"
    >
      .
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://certificate.codingninjas.com/verify/bbb7d7b648aef9bd" target="_blank"> Introduction to C++ (Tap here)</a>
    </li>
    <li>
      <a href="https://certificate.codingninjas.com/verify/75902f9e7263e83a" target="_blank"> Data Structures & Algorithm (Tap here)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C & C++</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Astro</li>
    <li>React</li>
    <li>DS Algo</li>
    <li>TailwindCSS</li>
    <li>Bootstrap</li>
    <li>Web Design</li>
    <li>UI Design</li>
    <li>Illustrator</li>
    <li>After Effects</li>
    <li>Photoshop</li>
    <li>Logo Design</li>
  </ul>
</BaseLayout>
